@use "../../assets/sass/variables" as *;

.nav {
    background-color: $color-navy;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-yellow;
    height: 5rem;

    &__heading {
        font-size: 3rem;
    }

    &__icon--search {
        padding-left: 0.5rem;
        width: 2.5rem;
        height: auto;
        filter: invert(100%) sepia(1%) saturate(2282%) hue-rotate(210deg) brightness(108%) contrast(86%);
    }

    &__icon--profile {
        padding-right: 0.5rem;
        width: 2.5rem;
        height: auto;
        // filter: invert(100%) sepia(1%) saturate(2282%) hue-rotate(210deg) brightness(108%) contrast(86%);
    }
}