@use "../../assets/sass/variables" as *;

.card {
    margin: 1rem;
    padding: 0rem 1rem;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-lightgrey;
    border-radius: 0.5rem;

    &__image {
        margin: 0.5rem auto;
        max-width: 50%;
        max-height: 50%;
    }

    &__title {
        color: $color-bluegreen;
        margin: 0.5rem auto;
    }

    &__tagline {
        color: $color-navy;
        margin: 0.5rem auto;
    }

    &__button {
        background-color: $color-tangerine;
        margin: 0.5rem auto;
        padding: 0.25rem;
    }
}

@media screen and (min-width: 992px) {

    .card {
        width: 15vw;
        margin: 1rem 0.5rem 0.5rem 0.5rem;
        border-radius: 0.5rem;
        background-color: $color-lightgrey;
        padding: 0.2rem;

        display: flex;
        flex-direction: column;
        max-width: fit-content;
        justify-content: center;


        &__image {
            margin: 0.5rem auto;
            height: 50%;
            width: auto;
        }

        &__name {
            font-size: 1.5rem;
        }

        &__tagline {
            font-size: 1rem;
            font-style: italic;
        }

        &__button {
            background-color: $color-tangerine;
            margin: 0.5rem 0.2rem;
            padding: 0.25rem;
            font-size: 0.9rem;
        }


        &__cross {
            height: 1.5rem;
            width: 1.5rem;
            right: 1.5rem;
            top: 1rem;
        }

        .card:hover {
            box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem $color-bluegreen;
        }
    }
}