@use "../../assets/sass/variables" as *;

.filter-checkboxes {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;

}

@media screen and (min-width: 992px) {
    .filter-checkboxes {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        font-size: 1.5rem;
        font-family: $font-option-four;
    }
}


// @media screen and(min-width: 992px) {
//     .filter-checkbox {
//         color: $color-navy;
//     }
// }