$color-lightblue: rgb(142, 202, 230);
$color-bluegreen: rgb(33, 158, 188);
$color-navy: rgb(2, 48, 71);
$color-yellow: rgb(255, 183, 3);
$color-tangerine: rgb(251, 133, 0);
$color-lightgrey: rgb(238, 238, 238);